@model IEnumerable<TallerTresModEmpleados.Models.Entities.Empleado>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados PrivTours</h1>

<p>
    <a asp-action="Create">Agregar nuevo empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CambioEstado)
            </th>
 

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>   item.CambioEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpleadoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EmpleadoId">Ver Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpleadoId" class="text-danger m1-1" onclick="return confirm ('¿Desea Cambiar el estado de este registro?')"><i class="fas fa-user-minus"></i> CambiarEstado</a>
            </td>
        </tr>
}
    </tbody>
</table>
